@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iransans;
    src: url(../assets/IRANSansWeb-Light-Dl9MyLNj.eot);
    src: url(../assets/IRANSansWeb-Light-jzO36iQx.ttf);
    src: url(../assets/IRANSansWeb-Light-DK_Gl6xb.woff);
    src: url(../assets/IRANSansWeb-Light-CVqDiu1Q.woff2);

}

*{
    font-family:iransans;
}